@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-gradient: linear-gradient(to right, #FFFFFF 0%, #DCE1E4 19%, #CDD4D9 27%, #466173db 100%);
    --container-bg: #D9D9D9;
    --container-shadow: drop-shadow(9px 12px 3px rgba(0, 0, 0, 0.51));
    --hourly-forecast-bg: linear-gradient(to bottom, #f88408d2 0%, rgba(246, 250, 217, 0) 100%);
    --search-bar-bg: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;  
    padding: 1rem; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--body-gradient);
}

/* Shared styles */
.search-bar-container,
.hourly-forecast-data,
.hourly-forecast-container .hour-forecast {
    display: flex;
}

.location-time-data-container,
.hour-forecast,
.five-day-forecast-container,
.weather-details-container .weather-icon-details,
.extra-details-container .extra-details {
    display: flex;
    flex-direction: column;
}

#main-content,
.weather-details-container,
.weather-details-container .sun-cycle-details,
.weather-details-container .extra-details-container,
.day-forecast {
    display: grid;
}

#main-content > div {
    border: 1px solid;
    border-radius: 1.5rem;
    background: var(--container-bg);
    filter: var(--container-shadow);
}

/* Main content styling */
#main-content {
    width: 100%;

    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;

    padding: 1rem 6rem;
}

/* Search bar styling */
.search-bar-container {
    height: 3rem;
    width: 44%;

    align-items: center;
    justify-content: center;

    justify-self: center;

    background: var(--search-bar-bg);
    border-radius: 1.5rem;
    border: 1px solid;
}

.search-bar-container .search-icon {
    width: 1.8rem;
    height: 1.8rem;
}

.search-bar-container .input-search {
    width: 80%;
    padding: 0.5rem;

    border: none;
    outline: none;
    background: none;
}

/* Location, time, data container styling */
.location-time-data-container {    
    justify-content: center;
    align-items: center;

    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.location-time-data-container .location-name {
    font-size: 3rem;
}

.location-time-data-container .location-date {
    font-size: 1.2rem;
}

/* Weather details container styling */
.weather-details-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 0.5rem;

    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;

    padding: 1rem;
}

/* Temperature details */
.weather-details-container .temp-details-container {
    grid-column: span 2 / span 2;
}

.temp-details-container .current-temp {
    font-size: 4rem;
}

.temp-details-container .feels-like-label {
    font-size: 1.2rem;
}

.temp-details-container .feels-like-temp {
    font-size: 1.5rem;
}

/* Sun cycle details */
.weather-details-container .sun-cycle-details-container {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.weather-details-container .sun-cycle-details {
    grid-template-columns: 3rem 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.sun-cycle-details .sun-cycle-icon {
    grid-row: span 2 / span 2;
    width: 2.4rem;
    height: 100%;
}

/* Weather icon + condition details */
.weather-details-container .weather-icon-details {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;

    align-items: center;
    gap: 1rem;
}

.weather-icon-details .weather-condition-icon{
    width: 10rem;
    height: 10rem;
}

.weather-icon-details .weather-condition-label {
    font-size: 1.5rem;
    text-align: center;
}

/* Extra weather details - humidity, uv, pressure, wind speed */
.weather-details-container .extra-details-container {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 1;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.extra-details-container .extra-details {
    align-items: center;
    gap: 0.2rem;
}

.extra-details-container .weather-details-icon {
    width: 3rem;
    height: 3rem;
}

/* Five day forecast styling */
.five-day-forecast-container {
    justify-content: center;
    align-items: center;

    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}

.five-day-forecast-container h1 {
    padding: 1rem;
    text-align: center;
}

.five-day-forecast-container .day-forecast {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);

    font-size: 1.2rem; 
}

.day-forecast .day-forecast-icon {
    width: 2rem;
    height: 2rem;
}

.day-forecast .day-forecast-date {
    grid-column: span 2 / span 2;
    text-align: center;
}

/* Hourly forecast styling */
.hourly-forecast-container {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
}

.hourly-forecast-data {
    justify-content: space-evenly;
    align-items: center;
}

.hourly-forecast-container h1 {
    padding: 0.5rem;
    text-align: center;
}

.hourly-forecast-container .hour-forecast {
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;

    padding: 1rem 2rem;
    gap: 0.1rem;
    border-radius: 2rem;

    background: var(--hourly-forecast-bg);
    /* background: linear-gradient(to bottom, #443d64e8 0%, rgba(101, 130, 198, 0) 100%); */
}

.hour-forecast img {
    width: 2.8rem;
    height: 2.8rem;
}